.portfolio-list {
  &-name {
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }

  &-type {
    margin-top: 4px;
    margin-bottom: 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  &-item {
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.card {
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &-content {
    padding: 20px 24px;
    background: $primary-background-color;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    text-align: start;
  }

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &:hover .overlay {
    transform: translateY(0);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &-img {
    position: relative;
    display: block;
    overflow: hidden;
  }
}

.text-overlay {
  margin: 0;
  position: absolute;
  width: 322px;
  height: 168px;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-text-color;
}

// .portfolio-list {
//   display: flex;
//   flex-wrap: wrap;

//   &-name {
//     margin-top: 0px;
//     margin-bottom: 0px;

//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: $title-text-color;
//   }

//   &-type {
//     margin-top: 4px;
//     margin-bottom: 0px;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.03em;
//     color: $primary-text-color;
//   }

//   &-item {
//     display: block;
//     width: 370px;
//     margin-right: 30px;
//     margin-bottom: 30px;

//     &:nth-child(3n) {
//       margin-right: 0px;
//     }

//     &:nth-last-child(-n + 3) {
//       margin-bottom: 0px;
//     }
//   }
// }

// .card {
//   display: block;
//   transition-property: all;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 250ms;

//   &-content {
//     padding: 20px 24px;
//     background: $primary-background-color;
//     border-left: 1px solid #eeeeee;
//     border-right: 1px solid #eeeeee;
//     border-bottom: 1px solid #eeeeee;
//     box-sizing: border-box;
//     text-align: start;
//   }

//   &:hover,
//   &:focus {
//     display: block;
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     transition-property: all;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 250ms;
//   }

//   &:hover .overlay {
//     transform: translateY(0);
//     transition-property: all;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 250ms;
//   }
// }

// .overlay {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   transform: translateY(100%);
//   padding-top: 63px;
//   padding-bottom: 63px;
//   padding-left: 24px;
//   padding-right: 24px;
//   background: rgba(33, 150, 243, 0.9);
//   transition-property: all;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 250ms;

//   &-img {
//     position: relative;
//     display: block;
//     overflow: hidden;
//   }
// }

// .text-overlay {
//   margin: 0;
//   position: absolute;
//   width: 322px;
//   height: 168px;
//   text-align: left;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: $white-text-color;
// }
