html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: $main-font;
  /*font-style: normal;*/
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &-title.centred {
    text-align: center;
  }
  &.nopadding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    .clients & {
      padding-left: 0px;
      padding-right: 0px;
    }
    padding-top: 0px;
    width: 450px;

    .features & {
      display: flex;
    }
  }
  .section {
    .clients & {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    .clients & {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0px;
    }
    width: 768px;
    .page-header &,
    .features & {
      display: flex;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    .work & {
      display: block;
      padding-bottom: 0px;
    }
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    &-title.centred {
      padding-top: 0px;
      text-align: center;
    }
    &.nopadding {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

// body {
//   background-color: $primary-background-color;
//   color: $primary-text-color;

//   font-family: $main-font;
//   /*font-style: normal;*/
// }

// .img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// .list {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .link {
//   text-decoration: none;
// }

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;

//   &-title.centred {
//     text-align: center;
//   }

//   &.nopadding {
//     padding-top: 0px;
//     padding-bottom: 0px;
//   }
// }
